<div class="side-box-outer">
	<div class="side-box">
		<a class="side-box-link side-box-link-active" id="side-above" href="#main/text/main">
			Основное
		</a>
		<!--	
		<hr>
		<a class="side-box-link side-box-link-normal" id="side-apteki" href="#apteki">
			Аптеки
		</a>
		<hr>
		<a class="side-box-link side-box-link-normal" id="side-dealers" href="#dealers">
			Оптовики
		</a>
		<div class="side-box-line"></div>
		<a class="side-box-link side-box-link-normal" id="side-orders" href="#orders">
			Законодательство
		</a>
		-->
		<hr>
		<a class="side-box-link side-box-link-normal" id="side-contacts" href="#main/text/contacts">
			Контакты
		</a>
	</div>	
</div>
