
.modal.hide(role = "dialog")
	.modal-header
		a.modal-close.close(href = "#") &times;
		h3 Вспомнить пароль
	.modal-body
		p
		
			.remember-alert-success.remember-alert.alert.alert-success.hide
				button.close(type = "button", data-dismiss = "alert") &times
				strong Поздравляем! 
				Вы успешно авторизовались

			.remember-alert-error.remember-alert.alert.alert-error.hide
				button.close(type = "button", data-dismiss = "alert") &times
				strong Ошибка! 
				Вы указали неверный логин или пароль


			form#remember-form.form-horizontal
				.control-group
					label.control-label Логин
					.controls
						input#remember-login.input-text(type = "text", value = "", placeholder = "Логин")
				.control-group
					label.control-label Пароль
					.controls
						input#remember-password.input-password(type = "password", value = "", placeholder = "Пароль")

				button.btn.btn-primary.btn-block(type = "submit") Войти
