
.modal.hide(role = "dialog")
	.modal-header
		button.close(href = "#", data-dismiss = "modal") &times;
		h3 Вспомнить пароль
	.modal-body
		p

			.alert.alert-success.hide
				Новый пароль отправлен на ваш e-mail!

			.alert.alert-error.hide
		
			form.remember-form.form.form-horizontal

				.control-group
					label.control-label E-mail
					.controls
						input.remember-email.input-text(type = "text", value = "[%= email %]", placeholder = "E-mail")

				button.btn.btn-primary.btn-block(type = "submit") Отправить
