
.alert.alert-success.hide
	Данные успешно изменены!

.alert.alert-error.hide
	strong Ошибка!
	&nbsp;
	Возможно, вы неверно ввели данные.


form.profile-personal-form.form.form-horizontal

	.control-group
		label.control-label Имя
		.controls
			input.profile-firstname.input-text(type = "text", value = "[%= firstname %]", placeholder = "Имя")
	
	.control-group
		label.control-label Фамилия
		.controls
			input.profile-lastname.input-text(type = "text", value = "[%= lastname %]", placeholder = "Фамилия")

	.control-group
		label.control-label
		.controls
			button.btn.btn-primary(type = "submit") Сохранить
			&nbsp;
			a.btn(href = "#main/text/main") Вернуться назад
