!!! 5
html
	head
		title Общий Заказ
		meta(name = "description", content = "Общий Заказ")
		meta(name = "keywords", content = "Общий Заказ")
		meta(name = "Revesit", content = "3")
		meta(name = "Document-state", content = "Dynamic")
		meta(name = "Copyright", Lang = "eng", content = "2012 standart-n.ru")
		meta(name = "Copyright", Lang = "ru", content = "2012 НВП Стандарт-Н")
		meta(name = "robots", content = "all")
		meta(http-equiv = "Content-Language", content = "ru")	
		meta(http-equiv = "Content-Type", content = "text/html; charset = utf-8")
		link(href = "favicon.ico", rel = "icon", type = "image/x-icon")
		link(href = "favicon.ico", rel = "shortcut icon", type = "image/x-icon")		

		link(href = "style/bootstrap/bootstrap.css", rel = "stylesheet", type = "text/css")

		//if lte IE 7
			link(href = "style/bootstrap/ie.css", rel = "stylesheet", type = "text/css")


	body
		#sn
		#bar
		#main
		#footer
		#modals
			#signin
			#registration
			#remember
			#about

		script(src = "script/sn.lmd.#{version}.js", type = "text/javascript")		