!!! 5
html
	head
		title Проверка работоспособности приложения
		meta(name = "description", content = "Общий Заказ")
		meta(name = "keywords", content = "Общий Заказ")
		meta(name = "Revesit", content = "3")
		meta(name = "Document-state", content = "Dynamic")
		meta(name = "Copyright", Lang = "eng", content = "2012 standart-n.ru")
		meta(name = "Copyright", Lang = "ru", content = "2012 НВП Стандарт-Н")
		meta(name = "robots", content = "all")
		meta(http-equiv = "Content-Language", content = "ru")
		meta(http-equiv = "Content-Type", content = "text/html; charset = utf-8")
		link(href = "favicon.ico", rel = "icon", type = "image/x-icon")
		link(href = "favicon.ico", rel = "shortcut icon", type = "image/x-icon")
		link(rel = "stylesheet", href = "lib/qunit/qunit.css")

	body

		h3
			a(href  =  "index.html") Вернуться назад
			&nbsp;|&nbsp;
			a(href  =  "test.html") Перезапустить тесты
			&nbsp;|&nbsp;
			a.removeCookies(href  =  "#") Очистить cookies

		#qunit
		#qunit-fixture

		#wrap.hide
			#sn
			#bar
			#main
			#footer
			#modals
				#signin
				#registration
				#remember
				#about

		script(src = "script/sn.lmd.js", type = "text/javascript")
		script(src = "lib/qunit/qunit.min.js", type = "text/javascript")
		script(src = "script/test.js", type = "text/javascript")


