
.modal.hide(role = "dialog")
	.modal-header
		button.close(href = "#", data-dismiss = "modal") &times;
		h3 Внимание
	.modal-body
		p
			Чтобы иметь возможность отправлять сообщения, необходимо стать участником системы <b>Общего Заказа</b>.
			Если Вы пока еще не зарегистрированы в системе, то Вам нужно пройти <b>регистрацию</b>, а если у вас уже есть учетная запись,
			то Вам нужно <b>авторизоваться</b>.
		p	
			//- table.table
			//- 	tr
			//- 		td
			//- 			a.btn.btn-primary.btn-block(href = "#signin") Вход с паролем
			//- 		td
			//- 			a.btn.btn-success.btn-block(href = "#registration") Регистрация
			a.btn.btn-block(href = "#", data-dismiss = "modal") Вернуться назад
			