

li.media
	.pull-left
		img.media-object(width = "48px", height = "48px", src = "http://oz.st-n.ru/publish/users/userpics/48x48/photo.png")

	.media-body
		h4.media-heading
			[%= author.firstname %] [%= author.lastname %]
		[%= message.text %]
		br
		small.muted [%= moment(post_dt).fromNow() %]
	hr
