

li.media(data-post-id = "[%= id %]")
	.pull-left
		img.media-object(width = "48px", height = "48px", src = "http://oz.st-n.ru/publish/users/userpics/48x48/photo.png")

	.media-body
		h4.media-heading
			include feedNewsHeader

		
		.alert.alert-send.alert-info.hide
			Пожалуйста подождите, идет загрузка данных...

		.alert.alert-error.hide

		.post-text [%= formatting %]

		.post-edit.hide
			textarea.feed-post-edit.span12(wrap = "hard", rows = "4", data-post = "[%= id %]")

		.post-photos.clear-both
			include feedNewsPhotos

		.post-files.clear-both
			include feedNewsFiles

		.post-tools-edit.hide.clear-both
			a.btn.btn-success.btn-small(href = "#", data-action = "save post", data-post = "[%= id %]") Сохранить
			&nbsp;
			a.btn.btn-small(href = "#", data-action = "blur post", data-post = "[%= id %]") Отмена

		.post-tools-remove.hide.clear-both
			a.btn.btn-danger.btn-small(href = "#", data-action = "delete post", data-post = "[%= id %]") Удалить
			&nbsp;
			a.btn.btn-small(href = "#", data-action = "blur post", data-post = "[%= id %]") Отмена

		.post-footer.clear-both
			small.muted 
				.post-footer-date.pull-left
					include feedNewsFooterDate

				.post-footer-tools.pull-left
					include feedNewsFooterTools
	hr
