
.alert.alert-success.hide
	Сообщение успешно отправлено!

.alert.alert-error.hide
	strong Ошибка!
	&nbsp;
	Возможно, вы неверно ввели данные.
			

.feed-post-box
	form.feed-post-form.form
		.row-fluid

			.form-actions

				textarea.feed-post-message.span12(wrap = "hard", rows = "5")

				ul#feed-box-files


				button.btn.btn-primary(type = "submit", tabindex = "-1") Отправить
				&nbsp;
				&nbsp;
				a.btn.feed-post-upload(href = "#")
					i.icon-file
					Прикрепить файл				
				input.hide.feed-post-file(type = "file", name = "files[]", tabindex = "-1")



