

li.media(data-post-id = "[%= id %]")
	.pull-left
		img.media-object(width = "48px", height = "48px", src = "http://oz.st-n.ru/publish/users/userpics/48x48/photo.png")

	.media-body
		h4.media-heading
			[%= author.firstname %] [%= author.lastname %]
			&nbsp;
			small.muted [%= author.company %]

		.alert.alert-success.hide

		.alert.alert-error.hide

		.post-text [%= markup.render(message.text) %]

		.post-edit.hide
			textarea.feed-post-edit.span12(wrap = "hard", rows = "4", data-post = "[%= id %]")

		.post-tools-edit.hide
			a.btn.btn-success.btn-small(href = "#", data-action = "save post", data-post = "[%= id %]") Сохранить
			&nbsp;
			a.btn.btn-small(href = "#", data-action = "blur post", data-post = "[%= id %]") Отмена

		.post-tools-remove.hide
			a.btn.btn-danger.btn-small(href = "#", data-action = "delete post", data-post = "[%= id %]") Удалить
			&nbsp;
			a.btn.btn-small(href = "#", data-action = "blur post", data-post = "[%= id %]") Отмена

		.post-footer
			small.muted 
				[%= moment(post_dt).fromNow() %]
				[% if (our === true) { %]
				&nbsp;
				&nbsp;
				a(href = "#", data-action = "edit post", data-post = "[%= id %]") редактировать
				//- a.btn-link(href = "#", data-action = "edit post", data-post = "[%= id %]")
				//- 	i.icon-edit
				&nbsp;
				&nbsp;
				a(href = "#", data-action = "remove post", data-post = "[%= id %]") удалить
				//- a.btn-link(href = "#", data-action = "remove post", data-post = "[%= id %]")
				//- 	i.icon-remove
				[% } %]
	hr
