
.alert.alert-success.hide
	Сообщение успешно отправлено!

.alert.alert-error.hide
	strong Ошибка!
	&nbsp;
	Возможно, вы неверно ввели данные.
			

.feed-post-box
	form.feed-post-form.form
		.row-fluid

			.form-actions

				textarea.feed-post-message.span12(wrap = "hard", rows = "5")

				button.btn.btn-primary(type = "submit", tabindex = "-1") Отправить
				&nbsp;
				span.btn.feed-post-upload
					i.icon-file
					span Прикрепить файл	
					input.feed-post-input(type = "file", name = "files[]", tabindex = "-1")

				p
					ul#feed-box-files


