
.alert.alert-success.hide
	Сообщение успешно отправлено!

.alert.alert-error.hide
	strong Ошибка!
	&nbsp;
	Возможно, вы неверно ввели данные.
			

.feed-post-box
	form.feed-post-form.form
		.row-fluid

			.form-actions

				textarea.feed-post-message.span12(wrap = "hard", rows = "5")

				ul#feed-box-files


				button.btn.btn-primary(type = "submit") Отправить
				&nbsp;
				span.btn.feed-post-file.hide
					i.icon-file
					Прикрепить файл
					input.feed-post-upload(type = "file", name = "files[]")



