
.feed-post-box
	form.feed-post-form.form
		.row-fluid

			.form-actions

				.alert.alert-success.hide
					Сообщение успешно отправлено!

				.alert.alert-error.hide
					strong Ошибка!
					&nbsp;
					Возможно, вы неверно ввели данные.

				.feed-post-uploading.hide.alert.alert-info Подождите, идет загрузка файла...

				textarea.feed-post-message.span12(wrap = "hard", rows = "5")

				.feed-post-toolbar

					button.btn.btn-primary.feed-post-send(type = "submit", tabindex = "-1") Отправить
					&nbsp;
					span.btn.feed-post-upload
						i.icon-file
						span Добавить файл
						input.feed-post-input(type = "file", name = "files[]", tabindex = "-1")
					&nbsp;
					span.btn.feed-post-upload
						i.icon-picture
						span Добавить фото
						input.feed-post-input(type = "file", name = "files[]", tabindex = "-1")

				p
					#feed-box-photos.clear-both
					
					ul#feed-box-files.clear-both


