
#bar.navbar.navbar-fixed-top
	.navbar-inner
		.container-fluid
			.row-fluid
				.span1
				.span11
					.pull-left
						a.brand(href = "#main/text/main") <%= region.caption %>

						a.btn.btn-primary(href = "#", data-toggle = "modal", data-target = "#signin") 
							i.icon-home.icon-white
							&nbsp;
							Войти
						
						&nbsp;
						
						a.btn(href = "#") Регистрация
						
						&nbsp;						
						
						a.btn(href = "#") Забыли пароль?
