
#bar.navbar.navbar-fixed-top
	.navbar-inner
		.container
			a.brand(href = "#main/text/main") <%= region.caption %>
			ul.nav
				li.active
					a(href = "#main/text/main") Главная
				li
					a(href = "#news/text/news") Новости

			ul.nav.pull-right
				li
					a(href = "#users/signin") Войти



