
#bar.navbar.navbar-fixed-top
	.navbar-inner
		.container-fluid
			.row-fluid
				.span1
				.span11
					.pull-left
						a.brand(href = "#main/text/main") [%= region.caption %]

						a.btn.btn-primary.btn-group-first(href = "#signin") 
							i.icon-home.icon-white
							&nbsp;
							Войти

						&nbsp;

						.btn-group
							a.btn(href = "#registration") Регистрация
							a.btn(href = "#remember") Забыли пароль?
