//.container-fluid
//	.row-fluid

//table#table-content(align="center", valign="top", cellpadding="3", cellspacing="3", border="0", width="99%")
//	tr(valign="top")
//		td(width="25%")

//- .container-fluid
//- 	.row-fluid
//- 		.span3
//- 			#side-outer
//- 				#side
//- 		.span8
//- 			#primary-outer
//- 				#primary
				
table#table-content(align="center", valign="top", cellpadding="3", cellspacing="3", border="0", width="99%")
	tr(valign="top")
		td(width="25%")
			.row-fluid
				.span11
					#side-outer
						#side
		td(width="75%")
			.row-fluid
				.span12
					#primary-outer
						#primary
