
<div role="dialog" class="modal hide">
  <div class="modal-header">
    <button href="#" data-dismiss="modal" class="close">&times;</button>
    <h3>Вспомнить пароль</h3>
  </div>
  <div class="modal-body">
    <p>
      <div class="alert alert-success hide">Новый пароль отправлен на ваш e-mail!</div>
      <div class="alert alert-error hide"></div>
      <form class="remember-form form form-horizontal">
        <div class="control-group">
          <label class="control-label">E-mail</label>
          <div class="controls">
            <input type="text" value="[%= email %]" placeholder="E-mail" class="remember-email input-text"/>
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Отправить</button>
      </form>
    </p>
  </div>
</div>