
.primary-box-outer {
display:block;
float:left;
width:100%;
height:auto;
padding:0 0 15px 0;
margin:10px 0 0 0;
border-top:#ddd solid 1px;
border-left:#ccc solid 1px;
border-right:#ccc solid 1px;
border-bottom:#bbb solid 1px;
background:#fcfcfc;
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
border-radius: 7px;
}

.primary-box {
display:block;
float:left;
width:96%;
height:auto;
margin:2% 0 0 2%;
}

