
.primary-box-outer {
display:block;
float:left;
width:100%;
height:auto;
padding:0 0 2% 0;
margin:10px 0 0 0;
border-top:#ddd solid 1px;
border-left:#ccc solid 1px;
border-right:#ccc solid 1px;
border-bottom:#bbb solid 1px;
background: #ffffff;
background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
border-radius: 7px;
}

.primary-box {
display:block;
float:left;
width:96%;
height:auto;
margin:2% 0 0 2%;
}

