
<div class="alert alert-success hide">Пароль успешно изменен.</div>
<div class="alert alert-error hide"><strong>Ошибка!</strong>Возможно, вы неверно ввели данные.</div>
<form class="profile-security-form form form-horizontal">
  <div class="control-group">
    <label class="control-label">Текущий пароль</label>
    <div class="controls">
      <input type="password" value="" class="profile-password input-text"/>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Новый пароль</label>
    <div class="controls">
      <input type="password" value="" class="profile-password-new input-text"/>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Повторите пароль</label>
    <div class="controls">
      <input type="password" value="" class="profile-password-repeat input-text"/>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label"></label>
    <div class="controls">
      <button type="submit" class="btn btn-primary">Изменить</button>
    </div>
  </div>
</form>