
<div class="alert alert-success hide">Данные успешно изменены!</div>
<div class="alert alert-error hide"><strong>Ошибка!</strong>&nbsp;
  Возможно, вы неверно ввели данные.
</div>
<form class="profile-form form form-horizontal">
  <div class="control-group">
    <label class="control-label">Имя</label>
    <div class="controls">
      <input type="text" value="[%= firstname %]" placeholder="Имя" class="profile-firstname input-text"/>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Фамилия</label>
    <div class="controls">
      <input type="text" value="[%= lastname %]" placeholder="Фамилия" class="profile-lastname input-text"/>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label"></label>
    <div class="controls">
      <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>
  </div>
</form>