table#table-content(align="center", valign="top", cellpadding="3", cellspacing="3", border="0", width="99%")
	tr(valign="top")
		td(width="25%")
			#side-content-outer
				#side-content

		td(width="75%")
			#primary-content-outer
				#primary-content
				
