<div class="side-box-outer">
	<div class="side-box">
		<a class="side-box-link side-box-link-active" href="#above">
			Основное
		</a>
			<div class="side-box-line"></div>
		<a class="side-box-link side-box-link-normal" href="#apteki">
			Аптеки
		</a>
			<div class="side-box-line"></div>
		<a class="side-box-link side-box-link-normal" href="#dealers">
			Оптовики
		</a>
			<div class="side-box-line"></div>
		<a class="side-box-link side-box-link-normal" href="#orders">
			Законодательство
		</a>
			<div class="side-box-line"></div>
		<a class="side-box-link side-box-link-normal" href="#contacts">
			Контакты
		</a>
	</div>	
</div>
