
.modal.hide(role = "dialog")
	.modal-header
		button.close(href = "#", data-dismiss = "modal") &times;
		h3 Авторизация
	.modal-body
		p

			.alert.alert-error.hide
				Вы ввели неверный логин или пароль.

			form.signin-form.form.form-horizontal
				.control-group
					label.control-label E-mail
					.controls
						input.signin-email.input-text(type = "text", value = "", placeholder = "E-mail")
				.control-group
					label.control-label Пароль
					.controls
						input.signin-password.input-password(type = "password", value = "", placeholder = "Пароль")

				button.btn.btn-primary.btn-block(type = "submit", data-loading-text = "loading...") Войти
