<<<
#signin
	table(align="center", valign="top", cellpadding="1", cellspacing="1", border="0")
		tr(valign="top")
			td
				<%= signinFormEnter %>
			td(width="10px")
			td
				<%= signinFormReg %>
>>>
