
<div role="dialog" class="modal hide">
  <div class="modal-header">
    <button href="#" data-dismiss="modal" class="close">&times;</button>
    <h3>Внимание</h3>
  </div>
  <div class="modal-body">
    <p>
      Чтобы иметь возможность отправлять сообщения, необходимо стать участником системы <b>Общего Заказа</b>.
      Если Вы пока еще не зарегистрированы в системе, то Вам нужно пройти регистрацию, а если у вас уже есть учетная запись,
      то Вам нужно авторизоваться.
    </p>
    <p>	
      <table class="table">
        <tr>
          <td><a href="#signin" class="btn btn-primary btn-block">Вход с паролем</a></td>
          <td><a href="#registration" class="btn btn-success btn-block">Регистрация</a></td>
        </tr>
      </table>
    </p>
  </div>
</div>