
<div role="dialog" class="modal hide">
  <div class="modal-header">
    <button href="#" data-dismiss="modal" class="close">&times;</button>
    <h3>Внимание</h3>
  </div>
  <div class="modal-body">
    <p>
      Чтобы иметь возможность отправлять сообщения, необходимо стать участником системы <b>Общего Заказа</b>.
      Если Вы пока еще не зарегистрированы в системе, то Вам нужно пройти <b>регистрацию</b>, а если у вас уже есть учетная запись,
      то Вам нужно <b>авторизоваться</b>.
    </p>
    <p>	<a href="#" data-dismiss="modal" class="btn btn-block">Вернуться назад</a>
    </p>
  </div>
</div>