
<li data-post-id="[%= id %]" class="media">
  <div class="pull-left"><img width="48px" height="48px" src="http://oz.st-n.ru/publish/users/userpics/48x48/photo.png" class="media-object"/></div>
  <div class="media-body">
    <h4 class="media-heading">
      [%= author.company %]
      &nbsp;<small class="muted">[%= author.firstname %] [%= author.lastname %]</small></h4>
    <div class="alert alert-success hide"></div>
    <div class="alert alert-error hide"></div>
    <div class="post-text">[%= formatting %]</div>
    <div class="post-edit hide">
      <textarea wrap="hard" rows="4" data-post="[%= id %]" class="feed-post-edit span12"></textarea>
    </div>
    <div class="post-photos clear-both">
      <div class="item pull-left"><img src="http://placehold.it/200x150"/></div>
      <div class="item pull-left"><img src="http://placehold.it/200x250"/></div>
      <div class="item pull-left"><img src="http://placehold.it/200x250"/></div>
      <div class="item pull-left"><img src="http://placehold.it/200x350"/></div>
      <div class="item pull-left"><img src="http://placehold.it/200x150"/></div>
      <div class="item pull-left"><img src="http://placehold.it/200x150"/></div>
      <div class="item pull-left"><img src="http://placehold.it/200x250"/></div>
      <div class="item pull-left"><img src="http://placehold.it/200x250"/></div>
      <div class="item pull-left"><img src="http://placehold.it/200x350"/></div>
      <div class="item pull-left"><img src="http://placehold.it/200x150"/></div>
    </div>
    <div class="post-files clear-both">
      [% if (typeof attachments !== 'undefined' && attachments !== null) { %]
      [% if (typeof attachments.files !== 'undefined' && attachments.files !== null) { %]
      [% if (attachments.files.length !== null && attachments.files.length > 0) { %]
      <p>[% for (i = 0; i < attachments.files.length; i++) { %]
        <div class="attachments-file"><i class="icon-file"></i>&nbsp;<a href="[%= attachments.files[i].url %]" target="_blank">[%= attachments.files[i].name %]</a>&nbsp;
          &nbsp;<small class="muted">[%= attachments.files[i].sizeFormat %]</small>&nbsp;
          &nbsp;<small><a href="[%= attachments.files[i].url %]" target="_blank">Скачать</a></small>
        </div>[% } %]
      </p>[% } %]
      [% } %]
      [% } %]
    </div>
    <div class="post-tools-edit hide clear-both"><a href="#" data-action="save post" data-post="[%= id %]" class="btn btn-success btn-small">Сохранить</a>&nbsp;<a href="#" data-action="blur post" data-post="[%= id %]" class="btn btn-small">Отмена</a></div>
    <div class="post-tools-remove hide clear-both"><a href="#" data-action="delete post" data-post="[%= id %]" class="btn btn-danger btn-small">Удалить</a>&nbsp;<a href="#" data-action="blur post" data-post="[%= id %]" class="btn btn-small">Отмена</a></div>
    <div class="post-footer clear-both"><small class="muted"> 
        <div class="post-footer-date pull-left">[%= moment(post_dt).fromNow() %]</div>
        <div class="post-footer-tools pull-left">
          [% if (our) { %]
          &nbsp;
          &nbsp;<a href="#" data-action="edit post" data-post="[%= id %]">редактировать</a>&nbsp;
          &nbsp;<a href="#" data-action="remove post" data-post="[%= id %]">удалить</a>[% } %]
        </div></small></div>
  </div>
  <hr/>
</li>