
<div class="well well-small">
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a data-target="#tab-feed-news" href="#" data-toggle="tab">Новости</a></li>
    </ul>
  </div>
  <div class="tab-content">
    <div id="tab-feed-news" class="tab-pane active">
      <div class="feed-post-box">
        <form class="feed-post-form form form-horizontal">			
          <div class="row-fluid">
            <textarea wrap="hard" rows="3" class="span11"></textarea>
            <button type="submit" class="btn btn-primary">Отправить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>