
<div class="alert alert-success hide">Сообщение успешно отправлено!</div>
<div class="alert alert-error hide"><strong>Ошибка!</strong>&nbsp;
  Возможно, вы неверно ввели данные.
</div>
<div class="feed-post-box">
  <form class="feed-post-form form">
    <div class="row-fluid">
      <div class="form-actions">
        <textarea wrap="hard" rows="5" class="feed-post-message span12"></textarea>
        <ul id="feed-box-files"></ul>
        <button type="submit" tabindex="-1" class="btn btn-primary">Отправить</button>&nbsp;
        &nbsp;<a href="#" class="btn feed-post-upload"><i class="icon-file"></i>Прикрепить файл				</a>
        <input type="file" name="files[]" tabindex="-1" class="hide feed-post-file"/>
      </div>
    </div>
  </form>
</div>