
.modal.hide(role = "dialog")
	.modal-header
		button.close(href = "#", data-dismiss = "modal") &times;
		h3 Регистрация
	.modal-body
		p
		
			.registration-alert-success.registration-alert.alert.alert-success.hide
				button.close(type = "button", data-dismiss = "alert") &times
				strong Поздравляем! 
				Вы успешно авторизовались

			.registration-alert-error.registration-alert.alert.alert-error.hide
				button.close(type = "button", data-dismiss = "alert") &times
				strong Ошибка! 
				Вы указали неверный логин или пароль


			form.form.form-horizontal

				.control-group
					label.control-label Имя
					.controls
						input.registration-firstname.input-text(type = "text", value = "[%= firstname %]", placeholder = "Имя")
				
				.control-group
					label.control-label Фамилия
					.controls
						input.registration-lastname.input-text(type = "text", value = "[%= lastname %]", placeholder = "Фамилия")

				.control-group
					label.control-label E-mail
					.controls
						input.registration-email.input-text(type = "text", value = "[%= email %]", placeholder = "E-mail")

				.control-group
					label.control-label Компания
					.controls
						input.registration-company.input-text(type = "text", value = "[%= company %]", placeholder = "Компания")

				button.btn.btn-primary.btn-block(type = "submit") Зарегистрироваться

