
html, body {
padding:0;
margin:0;
width:auto;
min-width:100%;
background:#e0e5ed;
/*background-color:#d1ecf2;
background-image:url(../../img/silver/silver-sky.png);
background-repeat:repeat-x;
background-position:0 54px;
background-attachment:fixed;*/
}

#header {
position:fixed;
display:block;
float:left;
top:0;
left:0;
width:auto;
min-width:100%;
}

#content {
display:block;
float:left;
width:auto;
clear:both;
margin:54px 0 0 0;
min-width:100%;
}

* html #content {
margin:5px 0 0 0;
}

#table-content {
max-width:900px;
min-width:300px;
}
