
<div id="bar" class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span1"></div>
        <div class="span11">
          <div class="pull-left"><a href="#main/text/main" class="brand"><%= region.caption %></a>
            <ul class="nav">
              <li class="active"><a href="#main/text/main">Главная</a></li>
              <li><a href="#news/text/news">Новости</a></li>
            </ul>
          </div>
          <div class="pull-right">
            <ul class="nav">
              <li><a href="#" data-toggle="dropdown" class="dropdown-toggle">Справка</a>
                <ul class="dropdown-menu">
                  <li><a href="test.html">Отчет о работоспособности приложения</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>