
<div id="bar" class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span1"></div>
        <div class="span11">
          <div class="pull-left"><a href="#main/text/main" class="brand">[%= region.caption %]</a><a href="#signin" class="bar-signin btn btn-primary"> <i class="icon-home icon-white"></i>&nbsp;
              Войти</a><a href="#logout" class="bar-logout btn hide"> <i class="icon-home icon-white"></i>&nbsp;
              Выйти</a>&nbsp;
            <div class="btn-group"><a href="#registration" class="bar-registration btn">Регистрация</a><a href="#remember" class="bar-remember btn">Забыли пароль?</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>