
<div id="bar" class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container"><a href="#main/text/main" class="brand"><%= region.caption %></a>
      <ul class="nav">
        <li class="active"><a href="#main/text/main">Главная</a></li>
        <li><a href="#news/text/news">Новости</a></li>
        <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">
             
            Ссылка<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav pull-right">
        <li><a href="#users/signin">Войти</a></li>
      </ul>
    </div>
  </div>
</div>