
<div id="bar" class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span1"></div>
        <div class="span11">
          <div class="pull-left"><a href="#main/text/main" class="brand"><%= region.caption %></a><a href="#" data-toggle="modal" data-target="#signin" class="btn btn-primary"> <i class="icon-home icon-white"></i>&nbsp;
              Войти</a>&nbsp;<a href="#" class="btn">Регистрация</a>&nbsp;						<a href="#" class="btn">Забыли пароль?</a></div>
        </div>
      </div>
    </div>
  </div>
</div>