
<div id="bar">
  <table align="center" cellpadding="0" cellspacing="0" border="0">
    <tr valign="top">
      <td width="10px"></td>
      <td width="40px"><a href="#main/text/main" class="bar-logo"></a></td>
      <td width="100px">
        <div class="bar-caption"><%= region.caption %></div>
      </td>
      <td width="20px"></td>
      <td width="117px"><a id="bar-main" href="#main/text/main" class="bar-button bar-button-active">Главная</a></td>
      <td width="10px"></td>
      <td width="117px"><a id="bar-news" href="#news/text/news" class="bar-button bar-button-normal">Новости</a></td>
      <td width="20px"></td>
      <td width="50px"><a href="#users/signin" class="bar-link">Войти</a></td>
    </tr>
  </table>
</div>