
<div id="content">
  <!--.container-fluid-->
  <!--	.row-fluid-->
  <!--table#table-content(align="center", valign="top", cellpadding="3", cellspacing="3", border="0", width="99%")-->
  <!--	tr(valign="top")-->
  <!--		td(width="25%")-->
  <table id="table-content" align="center" valign="top" cellpadding="3" cellspacing="3" border="0" width="99%">
    <tr valign="top">
      <td width="25%">
        <div class="row-fluid">
          <div class="span11">
            <div id="side-outer">
              <div id="side"></div>
            </div>
          </div>
        </div>
      </td>
      <td width="75%">
        <div class="row-fluid">
          <div class="span12">
            <div id="primary-outer">
              <div id="primary"></div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>