
<form id="signin-form-enter" action="index.html" onSubmit="return false;" method="GET">
  <table align="center" valign="top" cellpadding="1" cellspacing="1" border="0">
    <tr valign="top">
      <td>
        <div class="signin-header">У вас уже есть логин и пароль?</div>
      </td>
    </tr>
    <tr valign="top">
      <td>
        <div class="signin-caption">Авторизация</div>
      </td>
    </tr>
    <tr valign="top">
      <td>
        <div class="signin-hint">Введите логин и пароль</div>
      </td>
    </tr>
    <tr valign="top">
      <td>
        <div class="signin-input-outer">
          <input id="signin-input-login" value="Логин" data-def-value="Логин" type="text" size="30" maxlength="30" class="signin-input signin-input-blur signin-type-enter"/>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="signin-input-outer">
          <input id="signin-input-preview" value="Пароль" data-def-value="Пароль" data-def-type="password" type="password" size="30" maxlength="30" class="signin-input signin-input-blur signin-type-enter"/>
        </div>
      </td>
    </tr>
    <tr>
      <td><a id="signin-button-enter" href="#users/signin/enter" class="signin-button">Войти</a></td>
    </tr>
  </table>
  <div class="hidden">
    <input type="submit"/>
  </div>
</form>